<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">I want to licence my whippet</h1>

    <p class="lede">
      Whippets are mythical and dangerous creatures.
    </p>

    <p>
      The government requires you to hold a whippet licence (Class 1 or Class 2) for each whippet you own or operate.
    </p>

    <div class="notice" style="margin: 30px 0">
      <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
      </i>
      <strong class="bold-small">
        You can be fined up to 5,000 magical coins if you don’t licence your whippet appropriately.
      </strong>
    </div>

    <p>
      Our convenient online service is proven to reduce processing time for your whippet licence by up to 203.4%.
    </p>

    <%= link_to 'Start now', '#', class: 'button button-start' %>
  </div>
</div>
